{% extends "master.html" %}

{% load static %}

{% block title %} Detail {% endblock%}

{% block content %} 

<!-- Navbar -->
<nav class="custom-navbar navbar navbar-expand-lg navbar-dark fixed-top" data-spy="affix" data-offset-top="10">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
        <a class="navbar-brand m-auto" href="#">
            <img src="{% static 'assets/imgs/logo.svg' %}" class="brand-img" alt="">
            <span class="brand-txt">Layanan UMKM</span>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="admin" class="btn btn-primary ml-xl-4">Admin</a>
            </li>
        </ul>
    </div>
</nav>


<!-- BLOG Section  -->
<div id="blog" class="container-fluid bg-dark text-light py-5 text-center wow fadeIn mt-5">
    <h2 class="section-title py-5">MENU</h2>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="foods" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
                
                {% for x in menu %}
                <div class="col-md-4">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="{{x.gambar}}" alt="template by DevCRID http://www.devcrud.com/" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a href="#" class="badge badge-primary">Rp{{x.harga}}</a></h1>
                            <h4 class="pt20 pb20">{{x.nama_menu}}</h4>
                            <p class="text-white">{{x.deskripsi}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

<!-- page footer  -->
<div class="bg-dark text-light text-center border-top wow fadeIn">
    <p class="mb-0 py-3 text-muted small">Made <i class="ti-heart text-danger"></i> By <a href="http://devcrud.com">Kelompok 5</a></p>
</div>

{% endblock %}